.row
  = form_tag quickinfo_path, html: {class: 'form-inline'} do
    .col-md-4
      .input-group
        .input-group-btn
          = button_tag "Go", class: 'btn btn-default'
        = text_field_tag :symbol, nil, class: 'form-control'
