.font_header_color
  .col-md-3
    %h1 twitter feed
    .jumbotron.tw_feed_height
      empty

  .col-md-3
    %h1 twitter portfolio
    .jumbotron
      %table.table
        - CLIENT.search("$BABA OR $MU OR $CSX OR $FNMA", :result_type => "recent").take(40).each do |tweet|
          %tr
            %td= tweet.text

  .col-md-6
    %h1 market gain/loss
    .jumbotron
      empty
    %h1 stock performance
    .jumbotron
      empty
