.font_header_color
  .col-md-3
    %h1 twitter feed
    .jumbotron.tw_feed_height
      empty

  .col-md-3
    %h1 twitter portfolio
    .jumbotron
      %table.table
        - if current_user.present?
          - CLIENT.search(@portfolio_tweet_string, :result_type => "recent").take(40).each do |tweet|
            %tr
              %td= image_tag(tweet.user.profile_image_url, class: 'img-rounded')
              %td
                = tweet.user.screen_name
                %h5= tweet.text

  .col-md-6
    %h1 market gain/loss
    .jumbotron
      empty
    %h1 stock performance
    .jumbotron
      empty
