

.col-md-3
  %h1.font_header_color twitter feed
  .jumbotron.tw_feed_height
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed

.col-md-3
  %h1.font_header_color twitter portfolio
  .jumbotron
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
    %h6 twitter feed
.col-md-6
  .pull-right
    = link_to('Log In | Sign Up', new_user_path, class: 'btn btn-xs')
  %h1.font_header_color market gain/loss
  .jumbotron
    market loss gain
  %h1.font_header_color stock performance
  .jumbotron
    portfolio
