.col-md-3
  %h1.font_header_color twitter feed
  .jumbotron.tw_feed_height
    .font_header_color tweets

.col-md-3
  %h1.font_header_color twitter portfolio
  .jumbotron
    %table.table
      - CLIENT.search("$BABA OR $MU OR $CSX OR $FNMA", :result_type => "recent").take(40).each do |tweet|
        %tr
          %td= tweet.text


.col-md-6
  %h1.font_header_color market gain/loss
  .jumbotron
    market loss gain
  %h1.font_header_color stock performance
  .jumbotron
    portfolio
