.text_color
  .col-md-4
    %h1 profile
    = render 'form'

.col-md-3
  %h1.font_header_color twitter tickers
  .jumbotron.tw_feed_height
    .font_header_color
      -# = form_for @tick do |f|
        -# = f.label :tick_name
        -# = f.text_field :tick_name, class: 'text_black'
        -# = f.submit 'Add Ticker'
      %table.table
        %th tickers
        %tr
          %td
