/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

body {
  background-image: image-url('stitch.png');
  background-repeat: repeat;
}

h1 {
  font-family: Quicksand;
}

.jumbotron {
  border-radius: 5px;
  color: white;
}

.well {
  background: rgba(100, 54, 10, 0.5);
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0px;
}

.navbar_padding {
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.navbar-header {
  width: 80%;
}

.navbar-right {
  padding-top: 5px;
  width: 12%;
}

.glyphicon {
  padding-right: 30px;
}

.color_mellow {
  background: rgba(100, 54, 10, 0.5);
}


.top_position {
  position: fixed;
}
.stock_performance_color {
  height: 350px;
  overflow: auto;
  background: rgba(100, 54, 54, 0.5);
}

.color_yellow {
background: rgba(100, 90, 15, 0.5);
}

.trending_tweet_color {
  background: rgba(30, 30, 15, 0.5);
}


.quick_info_color {
  height: 350px;
  background: rgba(30, 30, 15, 0.5);
}

// ticker_bar

.symbol {
  float: left;
  margin-bottom: 8px;
  width: 8%;
  font-size: 10px;
}
.symbol .name {
  margin-top: 8px;
  display: block;
  padding-left: 3px;
}
.symbol .resultsets {
  padding-left: 3px;
  padding-right: 3px;
}
.symbol.up {
  color: white;
}
.symbol.up .change {
  color: red;
}
.symbol.down {
  color: white;
}
.symbol.down .change {
  color: red;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.adjustment-table {
  word-wrap: break-word;
}
