/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body {
  background-image: url('stitch.png');
  background-repeat: repeat;

}

.jumbotron {
  border-radius: 5px;
  color: white;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0px;
}

.navbar_padding {
  padding-bottom: 2%;
}

.color_mellow {
  background: rgba(100, 54, 10, 0.5);
}

.color_redish {
  background: rgba(100, 54, 54, 0.5);
}

.color_yellow {
background: rgba(100, 90, 15, 0.5);
}

.color_black {
  background: rgba(30, 30, 15, 0.5);
}
