//twitter feed

// .tw_feed_height {
// }

.font_header_color {
  color: white;
}



.twitter-timeline-rendered {
  display: inline-block;
  border: #ccc solid 1px;
  border-radius: 10px;
  font-size: 1% !important;
  width: 100% !important;
}

.twtr-tweet-text {
    font-size: 10%;
    font-family: Georgia, Serif;
}
